@import "tailwindcss";


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

.botao {
  @apply bg-green-800 text-white text-lg p-4 rounded-lg
         shadow-md active:scale-95 transition
         focus:outline-none focus:ring-4 focus:ring-green-300;
}
